
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read, update, and delete their own profile.
    // Allow any authenticated user to create their own profile.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;

      // Allow users to manage their own subscription sub-collection.
      match /subscription/{subId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
